/* palette:
  primary color: #212121
  secondary color: #757575
  accent color: #2196F3
  white: #FFFFFF 
  social network svg #AFB1B8
  bg main: #FFFFFF
  bg accent: #F5F4FA 
  bg footer: #2F303A*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #f5f4fa;
  --bg-accent-color: #f5f4fa;
  --main-white-color: #fff;
  --logo-svg-color: #afb1b8;
  --footer-bg: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==========Global styles========= */

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: #ffffff;
}
/* ========Utility classes======== */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.has-bg {
  background-color: var(--bg-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}
.button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
  border-color: var(--bg-color);
  cursor: pointer;

  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

/* .button:hover {
  color: var(--accent-color);
  background-color: var(--main-white-color);
} */
.button.primary {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--main-white-color);
}
.button:active,
.button:hover,
.button:focus {
  /* color: var(--accent-color); */
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.title {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.subtitle {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 10px;
}
.description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-white-color);
  transition: background-color 250ms var(--timing-function);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--accent-color);
}

.icon {
  fill: currentColor;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ============page header style=========== */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.header .logo {
  margin-right: 93px;
}
.logo-accent {
  color: #2196f3;
}
.site-nav-list {
  display: flex;
}
.site-nav-list .link {
  position: relative;
  display: block;
  padding: 32px 0 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-list-item > .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-list .link::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;

  transform: scale(0%);
  transition: transform 250ms var(--timing-function), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-list .link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav-list .link.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  transform: scale(100%);
}
.site-nav-list .link:hover::after,
.site-nav-list .link:focus::after {
  position: absolute;
  bottom: 0;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
  transform: scale(100%);
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts .link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}
.contacts-item .icon {
  margin-right: 10px;
}

/* .site-nav-list-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav-list-item + .site-nav-list-item,
.contacts-item + .contacts-item {
  margin-left: 50px;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*========== hero style========== */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--footer-bg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 696px;
}
.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);

  margin-bottom: 28.5px;
}

/*========= features section style======= */
.features-list {
  display: flex;
}
.features-list-item:not(:last-child),
.team-list-item:not(:last-child),
.works-list-item:not(:last-child),
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
.section .title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.features-list .subtitle {
  margin-bottom: 10px;
}
.features-list .description {
  font-size: 14px;
  line-height: 1.71;
}
.features-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bg-accent-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
/* =======about us section========= */
.works.section {
  padding-top: 0;
}
.works-list {
  display: flex;
}
.works-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bg-accent-color);
}
.works-list-thumb {
  position: relative;
}
.works-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}
/* .works-list-item:not(:last-child) {
  margin-right: 30px;
} */

/* ========team section style======= */

.team-list {
  display: flex;
}
.team-list-item {
  width: calc((100% - 90px) / 4);
}
.team-list .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.team-list .description {
  text-align: center;
  margin-bottom: 16px;
}
.team-list .card-description {
  padding: 30px 0;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-description .social-media-link {
  color: var(--logo-svg-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.card-description .social-media-link:hover,
.card-description .social-media-link:focus {
  color: var(--main-white-color);
}
.card-description .social-media-list {
  justify-content: center;
}
/* =======clients section style===== */
.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-svg-color);
  border-radius: 4px;
  color: var(--logo-svg-color);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
/* ==========footer style=========== */

.footer {
  background-color: var(--footer-bg);
  padding: 60px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-white-color);
}
.address-list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}
.address-list .map {
  color: var(--main-white-color);
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .subtitle {
  display: inline-block;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
}
.social-media-list {
  display: flex;
}
.social-media-item:not(:last-child) {
  margin-right: 10px;
}

/* ===============form styles========== */
.footer-form-wrapper {
  margin-left: auto;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-formfield {
  display: flex;
}
.footer-formfield-label {
  display: block;
}
.footer-form-input {
  width: 385px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;

  display: flex;
  align-items: center;

  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.25;
  color: var(--secondary-text-color);

  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--accent-color);
  color: var(--main-white-color);
}
.footer-form-input:focus {
  outline: 1px solid var(--accent-color);
}
.footer-form-input::placeholder {
  transition: color 250ms var(--timing-function);
}

.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
  color: var(--accent-color);
}

.form-button {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}
/* ==========Portfolio page styles======== */

/* buttons */
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.cards-set-list .subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cards-set-list .description {
  line-height: 1.88;
}
.buttons-list-item .button:hover,
.buttons-list-item .button:focus,
.buttons-list-item .button:active {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttons-list-item:not(:last-child) {
  margin-right: 8px;
}

/* ============cards set============== */

.cards-set-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.cards-set-list-item {
  margin-top: 30px;
  margin-left: 30px;
  max-width: calc(100% / 3 - 30px);
}
.cards-set-thumb {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.cards-set-thumb:hover,
.cards-set-thumb:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards-set-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.cards-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--main-white-color);
}
.cards-img-wrapper {
  position: relative;
  overflow: hidden;
}
.cards-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--timing-function);
}
.cards-set-thumb:hover .cards-thumb-overlay {
  transform: translateY(0);
}

/* =======pop-up window styles======= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  display: block;
  min-width: 528px;
  min-height: 581px;
  cursor: auto;
  background-color: var(--main-white-color);
  padding: 40px;

  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  cursor: pointer;

  font-weight: 700;
  line-height: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white-color);
  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}
.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  height: 40px;
  padding: 14px 15px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.modal-form-input.feedback {
  padding-left: 15px;
}
.modal-form-input[name='feedback'] {
  height: 140px;
  resize: none;
  margin-bottom: 20px;
}
.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.modal-form-field:hover .modal-form-input {
  border-color: var(--accent-color);
}
.modal-form-input:focus {
  outline: 1px solid var(--accent-color);
}
.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon,
.modal-form-input:not(:placeholder-shown) + .modal-form-icon {
  color: var(--accent-color);
}
.modal-form-input.feedback::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-field + .modal-form-field {
  margin-top: 10px;
}
.modal-form-label {
  margin-bottom: 4px;
}
.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.modal-form-label.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  cursor: pointer;
}
.modal-policy.link {
  text-decoration: underline;
  color: var(--accent-color);
}
.modal-submit {
  margin: 30px auto 0;
  width: 200px;
}
.modal-form-label.policy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  background-color: var(--main-white-color);
}
.modal-checkbox-icon {
  fill: transparent;
}

.checkbox-wrapper input:checked + .modal-form-label.policy .checkbox {
  background-color: var(--accent-color);
  border: none;
}
.checkbox-wrapper input:checked + .modal-form-label.policy .icon {
  fill: var(--main-white-color);
}
